    <div class="event-number-container" [class.hidden]="!isSelectable">
      #{{ index + 1}}
    </div>
    @if (uiEvent.role === "bot" && !uiEvent.isLoading) {
      <app-chat-avatar
        [role]="uiEvent.event.content ? 'bot' : 'node'"
        [author]="uiEvent.author"
        [nodePath]="uiEvent.nodePath">
      </app-chat-avatar>
    } 
    <app-event-content
      class="message-content"
      [uiEvent]="uiEvent"
      [index]="index"
      [uiEvents]="uiEvents"
      [isHighlighted]="isHighlighted"
      [appName]="appName"
      [userId]="userId"
      [sessionId]="sessionId"
      [sessionName]="sessionName"
      [evalCase]="evalCase"
      [isEvalEditMode]="isEvalEditMode"
      [isEvalCaseEditing]="isEvalCaseEditing"
      [isEditFunctionArgsEnabled]="isEditFunctionArgsEnabled"
      [userEditEvalCaseMessage]="userEditEvalCaseMessage"
      [agentGraphData]="agentGraphData"
      [allWorkflowNodes]="allWorkflowNodes"
      (userEditEvalCaseMessageChange)="userEditEvalCaseMessageChange.emit($event)"
      (handleKeydown)="handleKeydown.emit($event)"
      (cancelEditMessage)="cancelEditMessage.emit($event)"
      (saveEditMessage)="saveEditMessage.emit($event)"
      (openViewImageDialog)="openViewImageDialog.emit($event)"
      (openBase64InNewTab)="openBase64InNewTab.emit($event)"
      (editEvalCaseMessage)="editEvalCaseMessage.emit($event)"
      (deleteEvalCaseMessage)="deleteEvalCaseMessage.emit($event)"
      (editFunctionArgs)="editFunctionArgs.emit($event)"
      (clickEvent)="clickEvent.emit($event)"
      (longRunningResponseComplete)="longRunningResponseComplete.emit($event)"
      (agentStateClick)="agentStateClick.emit($event)"
    ></app-event-content>
    @if (uiEvent.role === "user") {
      <app-chat-avatar role="user"></app-chat-avatar>
    }
  <!-- Feedback UI -->
  @if(isUserFeedbackEnabled && !isLoadingAgentResponse && uiEvent.role === "bot") {
    <app-message-feedback [sessionName]="sessionName" [eventId]="uiEvent.event.id || ''"></app-message-feedback>
  }
