<div class="inline-edit-container">
  @if (!isEditing) {
    <div class="inline-edit-text-wrapper">
      <span [class]="textClass" [matTooltip]="tooltip">{{ effectiveDisplayValue }}</span>
    </div>
    <button mat-icon-button class="inline-edit-action-button" (click)="startEdit()" aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
  } @else {
    <div class="inline-edit-text-wrapper">
      <input
        class="inline-edit-input"
        [ngClass]="textClass"
        [attr.placeholder]="placeholder"
        [(ngModel)]="draftValue"
        (keydown)="handleKeydown($event)"
        [attr.aria-label]="placeholder"
        [attr.size]="draftValue.length || 1"
      />
    </div>
    <button mat-icon-button class="inline-edit-action-button" (click)="saveEdit()" aria-label="Save">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button class="inline-edit-action-button" (click)="cancelEdit()" aria-label="Cancel">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>
