@if (role === 'bot') {
  <button mat-mini-fab class="bot-avatar" [appJsonTooltip]="tooltip"
    [class.hidden]="!author" [style.background-color]="color">
    <mat-icon fontSet="material-symbols-outlined">robot_2</mat-icon>
  </button>
} @else if (role === 'node') {
  <div class="node-circle-icon" [style.background-color]="color"
    [appJsonTooltip]="tooltip" [class.hidden]="!author">
    {{ initial }}
  </div>
} @else if (role === 'user') {
  <button mat-mini-fab class="user-avatar">
    <mat-icon>person</mat-icon>
  </button>
}
