build.dialog-container {
  border-radius: 12px;
  padding: 18px;
  width:500px;
  box-shadow: 0 8px 16px var(--run-eval-config-dialog-container-box-shadow-color);
}

.metric-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metric-name {
  width: 250px;
}

.threshold-value {
  margin-left: 20px;
}


h2[mat-dialog-title] {
  color: var(--mdc-dialog-supporting-text-color) !important;
}

mat-dialog-content {
  color: var(--mdc-dialog-supporting-text-color) !important;
}

button[mat-button] {
  color: var(--mdc-dialog-supporting-text-color) !important;
}