@if ((isAlwaysOnSidePanelEnabledObs | async) === false) {
}

@let isSessionLoading = uiStateService.isSessionLoading() | async;

@if (isSessionLoading) {
  <div class="loading-spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
}

@if (appName() != "" && showSidePanel()) {
<div class="tabs-container" [hidden]="isSessionLoading">
  <mat-tab-group
    (selectedTabChange)="tabChange.emit($event)">
    @if (isTraceEnabledObs | async) {
      <mat-tab class="tabs-header">
        <ng-template mat-tab-label>
          <span class="tab-label">{{ i18n.traceTabLabel }}</span>
        </ng-template>
        <app-trace-tab [traceData]="traceData()"></app-trace-tab>
      </mat-tab>
    }
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">{{ i18n.stateTabLabel }}</span>
      </ng-template>
      <app-state-tab [sessionState]="currentSessionState()"></app-state-tab>
    </mat-tab>
    @if (isArtifactsTabEnabledObs | async) {
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label">{{ i18n.artifactsTabLabel }}</span>
        </ng-template>
        <app-artifact-tab [artifacts]="artifacts()"> </app-artifact-tab>
      </mat-tab>
    }
    @if (isEvalEnabledObs | async) {
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tab-label">{{ i18n.evalTabLabel }}</span>
        </ng-template>
        <ng-container #evalTabContainer></ng-container>
      </mat-tab>
    }
  </mat-tab-group>
</div>
} @if (selectedEvent() && showSidePanel()) {
<div class="details-panel-container" [hidden]="isSessionLoading">
  <div class="details-content">
    <div style="display: flex; justify-content: flex-end; margin-top: 10px">
      <mat-paginator
        class="event-paginator"
        hidePageSize
        [length]="eventData().size"
        [pageSize]="1"
        [pageIndex]="selectedEventIndex()"
        (page)="page.emit($event)"
        [attr.aria-label]="i18n.selectEventAriaLabel"
      >
      </mat-paginator>
      <button mat-icon-button>
        <mat-icon (click)="closeSelectedEvent.emit()">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="details-panel-tabs-container">
    <mat-tab-group>
      <mat-tab label="{{ i18n.eventDetailsTabLabel }}">
        @if (selectedEvent()?.author !== 'user') {
        <div class="event-graph-container">
          @if (renderedEventGraph()) {
          <div [innerHtml]="renderedEventGraph()" (click)="openImageDialog.emit(rawSvgString())"></div>
          }
        </div>
        }
        <div class="json-viewer-container">
          <ngx-json-viewer [json]="filteredSelectedEvent()"></ngx-json-viewer>
        </div>
      </mat-tab>
      @if ((uiStateService.isEventRequestResponseLoading() | async) === true || (llmRequest() && Object.keys(llmRequest()!).length > 0)) {
      <mat-tab label="{{ i18n.requestDetailsTabLabel }}">
        @if ((uiStateService.isEventRequestResponseLoading() | async) === true) {
          <div class="request-response-loading-spinner-container">
            <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
          </div>
        } @else if (!llmRequest()) {
          <div class="request-response-empty-state">{{ i18n.requestIsNotAvailable }}</div>
        } @else {
          <div class="json-viewer-container">
            <ngx-json-viewer [json]="llmRequest()"></ngx-json-viewer>
          </div>
        }
      </mat-tab>
      }
      @if ((uiStateService.isEventRequestResponseLoading() | async) === true || (llmResponse() && Object.keys(llmResponse()!).length > 0)) {
      <mat-tab label="{{ i18n.responseDetailsTabLabel }}">
        @if ((uiStateService.isEventRequestResponseLoading() | async) === true) {
          <div class="request-response-loading-spinner-container">
            <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
          </div>
        } @else if (!llmResponse()) {
          <div class="request-response-empty-state">{{ i18n.responseIsNotAvailable }}</div>
        } @else {
        <div class="json-viewer-container">
          <ngx-json-viewer [json]="llmResponse()"></ngx-json-viewer>
        </div>
        }
      </mat-tab>
      }
      @if (selectedEvent()?.actions?.stateDelta && Object.keys(selectedEvent()?.actions?.stateDelta).length > 0) {
      <mat-tab label="State">
        <div class="json-viewer-container">
          <ngx-json-viewer [json]="selectedEvent()?.actions?.stateDelta"></ngx-json-viewer>
        </div>
      </mat-tab>
      }
      @if (selectedEvent()?.actions?.artifactDelta && Object.keys(selectedEvent()?.actions?.artifactDelta).length > 0) {
      <mat-tab label="Artifact">
        <app-artifact-tab [artifacts]="artifactDeltaArray()"></app-artifact-tab>
      </mat-tab>
      }
    </mat-tab-group>
  </div>
</div>
}
<div class="resize-handler"></div>
