<div class="message-feedback-container">
  <div class="feedback-buttons">
    <button mat-icon-button [matTooltip]="i18n.goodResponseTooltip" (click)="sendFeedback('up')">
      @if (selectedFeedback() === 'up') {
        <mat-icon>thumb_up_filled</mat-icon>
      } @else {
        <mat-icon>thumb_up</mat-icon>
      }
    </button>
    <button mat-icon-button [matTooltip]="i18n.badResponseTooltip" (click)="sendFeedback('down')">
      @if (selectedFeedback() === 'down') {
        <mat-icon>thumb_down_filled</mat-icon>
      } @else {
        <mat-icon>thumb_down</mat-icon>
      }
    </button>
  </div>

  <div class="feedback-details-container" *ngIf="isDetailedFeedbackVisible()">

    <div class="additional-feedback">
      <h3>{{ i18n.feedbackAdditionalLabel }}</h3>
      <mat-form-field appearance="outline">
        <textarea
          matInput
          [formControl]="comment"
          [placeholder]="feedbackPlaceholder()">
        </textarea>
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-stroked-button (click)="onDetailedFeedbackCancelled()">
        {{ i18n.feedbackCancelButton }}
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="onDetailedFeedbackSubmitted()">
        {{ i18n.feedbackSubmitButton }}
      </button>
    </div>
  </div>
</div>
